<article class="border-2 border-sky-500 rounded-xl">
  <div class="flex items-start space-x-6 m-4">
    <%if article.try(:image).present?%>
      <%= image_tag(article.image, class: "w-40 h-auto rounded-xl object-cover group-hover:scale-110 transition ease-in-out duration-300", alt: article.title) %>
    <% end %>


    <div class="flex-1">
      <header>
        <h1 class="font-semibold text-base dark:text-zinc-100"><%= article.title %></h1>
      </header>

      <div class="prose prose-zinc dark:prose-invert font-heading font-light my-3 max-w-md">
        <p><%= article.topic %></p>
      </div>
      <footer>
      <%= link_to "Read now", article_path(article), class: "btn btn-white md:mt-1 mt-2 inline-flex items-center" %>
      </footer>
    </div>
  </div>
</article>

