
<li>
  <%= nav_link_to "Home", send("root_path"), class:"nav-link"%>
</li>
<li>
  <%= nav_link_to "Articles", articles_path, class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "About", send("about_path"), class: "nav-link" %>
</li>